* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ADLaM Display";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  background-color: #5cbbd8;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

article {
  height: 80%;
  width: 80%;
  border-radius: 1vw;
  overflow: hidden;
}

.header {
  height: 10%;
  background-color: #1b69a1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  padding: 0 20%;
}

.display {
  font-size: 2vh;
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  color: rgb(255, 245, 230);
}

.value {
  background-color: rgb(255, 245, 230);
  color: #1b69a1;
  padding: 0.1em 0.2em;
  border-radius: 10%;
}

.buttons {
  display: flex;
  gap: 10%;
}

.buttons > img,
.trophy,
.timer-icon {
  height: 4vh;
}

.hidden {
  display: none;
}

.canvas {
  height: 90%;
  background-color: rgb(255, 245, 230);
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-90vh);
  }
}

.start-button {
  padding: 0.2em 0.8em;
  font-size: 1.5em;
  color: #1b69a1;
  /* background-color: #5cbbd8; ---- This conflicts with the display: none; in js */
  border: solid 0.2em rgba(0, 92, 173, 0.704);
  background: linear-gradient(
    rgb(181, 232, 255) 26%,
    rgba(29, 149, 255, 0.704) 100%
  );
  border-radius: 0.5em;
}

.bubble {
  width: 10vh;
  height: 10vh;
  background: rgb(251, 251, 255);
  background: radial-gradient(
    rgba(251, 251, 255, 1) 36%,
    rgba(225, 244, 255, 1) 50%,
    rgba(0, 92, 173, 0.704) 100%
  );
  border: 1px solid rgba(21, 21, 131, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  animation: floatUp 5s linear infinite;
}

.bubble:hover {
  cursor: pointer;
}

.small {
  width: 7vh;
  height: 7vh;
}

.large {
  width: 13vh;
  height: 13vh;
}

@media (max-width: 500px) {
  .small {
    width: 8vw;
    height: 8vw;
  }
  .medium {
    width: 10vw;
    height: 10vw;
  }
  .large {
    width: 13vw;
    height: 13vw;
  }
}
