* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: darkblue;
}

main {
  display: grid;
  place-items: center;
}

/* .header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:40px;
  posit
} */

.canvas {
  height: 60%;
  width: 60%;
  background-color: antiquewhite;
}
